.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared styles */
.section-bg {
  color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}
.text-center{
  text-align: center;
}
.dark-2 {
  color: #474747;
}
.section-description {
  font-size: 18px;
  color: #757575;
  padding: 8px;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 18px 36px;
  border-radius: 5px;
  border: none;
}
.section-title {
  font-weight: bold;
  font-size: 35px;
  color: #181818;
}
/* header styles */
.header {
  background-image: url("../images//developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  padding-left: 23px;
}
/* nav styles start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}
nav ul {
  display: flex;
  align-items: center;
}
.nav-titlename {
  font-weight: 800;
  font-size: 45px;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 100px;
}
.banner-content {
  max-width: 585px;
}
.banner-greetings {
  font-weight: 600px;
  font-size: 45px;
}
.banner-title {
  font-weight: bold;
  font-size: 85px;
}
.banner-picture {
  width: 584px;
  background-size: cover;
  border-radius: 2px;
}
/* main styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  
}
.about-items {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.about-item {
  text-align: center;
}
.item-title {
  font-weight: 400;
  color: #757575;
  margin: 0 0 8px 0;
}
.item-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
  margin: 0;
}
/* skill section style */
.skills-container{
  display: flex;
  gap: 24px;
}
.skill{
  padding: 30px;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* RESUME SECTION STYLE */
.resume-container{
  display: flex;
  gap:24px;
}
.experience-subtitle{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.experience-description, .experience-subtitle{
  color:#757575;
}
.resume hr{
  margin: 30px 0px;
}
.dwn-btn{
  margin-top: 50px;
}
/* footer style start */
footer{
  padding: 130px 230px;
  display: flex;
  gap: 117px;
}
.footer-column{
  width:50%;
}
footer input[type='text'], footer input[type='email'], footer textarea{
  height: 64px;
  border-radius: 5px;
  background-color: white;
  color:#FFFFFF;
  width:100%;
  display: block;
  padding: 10px 20px;
  margin-bottom: 24px;
  border:none;
}

/* responsive start */
@media screen and (max-width: 576px){
  .skills-container, .resume-container{
    flex-direction: column;
  }
}